<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tplus Mobile</name>
    <description>
        Copyright Open Systems Consulting Pty Ltd 2016 (Tplus Mobile Application)
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="android-minSdkVersion" value="13" />
	<preference name="android-build-tool" value="gradle" />

    <plugin name="cordova-plugin-geolocation" spec="^1.0.1" />
    <plugin name="cordova-plugin-network-information" spec="^1.0.1" />
    <plugin name="cordova-plugin-file" spec="^4.1.1" />
    <plugin name="cordova-plugin-velda-devicefeedback" spec="^0.0.2" />
    <plugin name="cordova-plugin-mauron85-background-geolocation" spec="^0.7.2" />
    <plugin name="de.appplant.cordova.plugin.background-mode" spec="https://github.com/katzer/cordova-plugin-background-mode.git" />
    <plugin name="cordova-plugin-networkinterface" spec="^1.0.8" />
    <plugin name="phonegap-plugin-barcodescanner" spec="https://github.com/phonegap/phonegap-plugin-barcodescanner.git" />
    <plugin name="phonegap-plugin-push" spec="^1.5.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.2.1" />
    <plugin name="cordova-plugin-insomnia" spec="^4.2.0" />
    <plugin name="com.tiltshiftfocus.cordova.plugin.clearCache" spec="^1.0.5" />
    <plugin name="cordova-plugin-device" spec="^1.1.1" />
    <plugin name="cordova-connectivity-monitor" spec="^1.2.2" />
    <plugin name="cordova-plugin-camera" spec="^2.1.0" />
    <plugin name="org.apache.cordova.media" spec="^0.2.16" />
</widget>
