<ion-view title="{{devicectrl.title}}" ng-controller="deviceCtrl">
  <!-- <ion-content padding="true"> -->
  <ion-content ng-class="{ 'overflow-scroll': (desktopBrowserScrolling == true) }">
	<ion-list>

	<div class="item item-divider">
		Driver Number: {{devicectrl.drivernum}}
	</div>
	<ion-item class="item item-text-wrap" >
		<h2>** WARNING **</h2>
		<p>Do not change any of these values unless advised by support</p>
	</ion-item>
<!--
	<ion-item class="item item-icon-right">
		Driver Number:
		<span class="item-note">
			{{devicectrl.drivernum}}
		</span>
	</ion-item>
-->

	<div class="item item-divider">
		App properties - v{{version}}
	</div>
	<ion-item class="item" >
		Version
		<span class="item-note">
			{{version}}
		</span>
	</ion-item>

	<ion-checkbox class="item-checkbox-right" ng-checked="{{connected()}}" ng-disabled="true">
		Network connection
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-checked="{{devicectrl.isGpsWorking}}" ng-disabled="true">
		GPS Active
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-checked="{{devicectrl.isDeviceReady}}" ng-disabled="true">
		Device Ready
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-model="devicectrl.showGpsAlerts" ng-change="updateShowGpsAlerts(devicectrl.showGpsAlerts)">
		Show GPS Alerts
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-model="devicectrl.sendGps" ng-change="updateSendGps(devicectrl.sendGps)">
		GPS To Server
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-checked="{{devicectrl.registeredForPush}}" ng-disabled="true">
		Reg'd For Push (GCM)
	</ion-checkbox>
	<ion-item class="item item-button-right" >
		Register for GCM
		<button class="button button-positive" ng-click="pushRegister()">
			Register
		</button>
	</ion-item>
	<ion-item class="item item-button-right" >
		UnRegister from GCM
		<button class="button button-light" ng-click="pushDeRegister()">
			UnRegister
		</button>
	</ion-item>

	<ion-checkbox class="item-checkbox-right" ng-model="desktopBrowserScrolling" ng-change="toggleDesktopBrowserScrolling()">
		Desktop Scrolling Mode
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-model="pdaParams.multileg" >
		Multileg
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-model="pdaParams.jobdisplay" >
		Local job display
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-model="pdaParams.multiSelect" >
		Multi job select
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-model="pdaParams.alwaysGetGPS" >
		Always attempt foreground GPS even if logged off
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-model="pdaParams.jobDetailOneDayOnly" >
		Query one date only
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-model="pdaParams.imageUpload" >
		Auto image upload
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-model="pdaParams.debugMode" ng-change="pdaParams.setDebugMode(pdaParams.debugMode)">
		Debug Mode
	</ion-checkbox>

	<ion-checkbox ng-if="pdaParams.debugMode" class="item-checkbox-right" ng-model="fullreplication" ng-change="toggleFullReplication()">
		Full Replication
	</ion-checkbox>

	<ion-checkbox class="item-checkbox-right" ng-model="pdaParams.experimental" >
		Enable experimental features
	</ion-checkbox>

	<ion-checkbox ng-if="pdaParams.experimental" class="item-checkbox-right" ng-model="pdaParams.pda_deliver_all" >
		Mutliple deliveries one POD
	</ion-checkbox>

	<ion-checkbox ng-if="pdaParams.experimental" class="item-checkbox-right" ng-model="pdaParams.pda_full_statuses" >
		Additional job statuses
	</ion-checkbox>

	<ion-checkbox ng-if="pdaParams.experimental" class="item-checkbox-right" ng-model="pdaParams.pda_images" >
		Images
	</ion-checkbox>

	<!-- TODO - make this editable -->
	<ion-item class="item" ng-if="pdaParams.experimental">
		Image poll time
		<span class="item-note">
			{{pdaParams.imagePollTime}}
		</span>
	</ion-item>

	<span ng-if="pdaParams.debugMode">
		<div class="item item-divider">
			Config
		</div>
		<ion-item class="item" >
			Client ID
			<span class="item-note">
				{{clientConfig.clientId}}
			</span>
		</ion-item>
		<ion-item class="item" >
			Server IP
			<span class="item-note">
				{{clientConfig.serverIP}}:{{clientConfig.serverPort}}
			</span>
		</ion-item>
		<ion-item class="item" >
			Logger IP
			<span class="item-note">
				{{appConfig.logServerIP}}:{{appConfig.logServerPort}}
			</span>
		</ion-item>
		<div class="item item-divider">
			Device Reset
		</div>
		<ion-item class="item item-button-right" >
			Reset app (deletes all data)
			<button class="button button-positive" ng-click="resetApp()">
				Reset
			</button>
		</ion-item>
	</span>

	<div class="item item-divider">
		Database
	</div>
	<ion-item class="item item-button-right" >
		Reload Site Config
		<button class="button button-positive" ng-click="reloadSiteConfig()">
			Reload
		</button>
	</ion-item>

	<ion-item class="item" >
		Local Storage usage
		<span class="item-note">
			{{usedStorage}}
		</span>
	</ion-item>

	<ion-item class="item" ng-repeat="(key, value) in localStorageList">
		{{key}}
		<span class="item-note">
			{{value}}
		</span>
	</ion-item>
<!-- 
	<ion-item class="item" ng-repeat="storage in localStorageList">
		{{storage.key}}
		<span class="item-note">
			{{storage.value}}
		</span>
	</ion-item>
-->

	<div class="item item-divider">
		Network properties
	</div>
	<ion-checkbox class="item-checkbox-right" ng-checked="{{isOnline}}" ng-disabled="true">
		Online
	</ion-checkbox>

	<ion-item class="item" >
		Network type
		<span class="item-note">
			{{networkType}}
		</span>
	</ion-item>

<!--
	<ion-item class="item" >
		IP address
		<span class="item-note">
			{{IPAddress}}
		</span>
	</ion-item>
-->

	<div class="item item-divider">
		Device properties
	</div>
	<ion-item class="item" ng-repeat="(key, value) in device">
		{{key}}
		<span class="item-note">
			{{value}}
		</span>
	</ion-item>

	</ion-list>
  </ion-content>
</ion-view>
