<ion-view title="GPS details">

	<!-- TODO - if no driver no. configured need to get it -->
<!--
	<div >
		<form name="driverForm">
			Driver: 
			<input type="text" name=driverId" ng-model="pdaParams.driverId" ng-model-options="{ updateOn: 'submit' }" >

			<input type="button" value="Save" ng-click="pdaParams.setDriverInfo(pdaParams.driverId);">
		
			<input type="button" value="Reset" ng-click="pdaParams.clearDriverInfo()">


		</form>
	</div>
-->
  <ion-content padding="true">
	<!-- <ion-refresher on-refresh="doRefresh()"></ion-refresher> -->

	<div class="item item-divider">
		Current position
	</div>
		<!-- This should return one row only in a production environment -->
	<div class="row" ng-show="showResult()">
		<ion-list>
            <ion-item class="item">
				Latitude: <span class="item-note"> {{ position.coords.latitude }} </span>
            </ion-item>
            <ion-item class="item">
				Longitude: <span class="item-note"> {{ position.coords.longitude }}</span>
            </ion-item>
            <ion-item class="item">
				Altitude: <span class="item-note"> {{ position.coords.altitude }}</span>
            </ion-item>
            <ion-item class="item">
				Accuracy: <span class="item-note"> {{ position.coords.accuracy }}</span>
            </ion-item>
            <ion-item class="item">
				Altitude Accuracy: <span class="item-note"> {{ position.coords.altitudeAccuracy }}</span>
            </ion-item>
            <ion-item class="item">
				Heading: <span class="item-note"> {{ position.coords.heading }}</span>
            </ion-item>
            <ion-item class="item">
				Speed: <span class="item-note"> {{ position.coords.speed }} </span>
            </ion-item>
            <ion-item class="item">
				Timestamp: <span class="item-note"> {{ position.timestamp }} </span>
            </ion-item>
		</ion-list>
    </div>
    <div class="row" ng-show="!showResult()">
           Error : {{err}}
           Error Code: {{err.code}}
    </div>       

	<ion-list>
		<div class="item item-divider">
			GPS History
		</div>
		<ion-item class=item ng-repeat="gps in gpshistory | reverse">
			{{ gps.gps_timestamp | gpsdate }}: {{ gps.gps_latitude }} , {{ gps.gps_longitude }}
		</ion-item>
	</ion-list>

	<section id="debug" ng-if="debug">
		<button ng-click="xxx()">BG GPS Start</button>
		<button ng-click="yyy()">BG GPS Stop</button>
	</section>

  </ion-content>

</ion-view>
