  <ion-content ng-class="{ 'overflow-scroll': (desktopBrowserScrolling == true) }" padding="true">
      <div ng-hide="true" class="row row-bottom">
        <div class="col colBase col-100">
          <label class="item item-input">
            <span class="input-label">Monthx</span>
            <input type="date">
          </label>
        </div>
      </div>


	<!--   PHOTO THUMBNAIL CAROUSEL -->
    <div ng-if="images.length > 0">

<!-- <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
<ion-item class="item" ng-repeat="image in images.slice().reverse() track by $index" type="item-text-wrap">
</ion-item>
-->

            <!-- this displays images side by side -->
            <ion-scroll direction="x">
                <img ng-repeat="image in images.slice().reverse() track by $index" data-ng-src="{{image.nativeURL}}" height="50px" class="img-frame">
            </ion-scroll>

<!--    This shows images  - puts them to the right of the view tiled vertically
    <ion-list>
        <ion-item class="item" ng-repeat="image in images.slice().reverse() track by $index" type="item-text-wrap">

            <img data-ng-src="{{image.nativeURL}}" height="100px">

            <span class="item-note">
                {{image.name}}
            </span>

        </ion-item>

    </ion-list>
-->
    </div>

	<div ng-repeat="property in data track by $index" ng-show="(property.index > 1)  && (!property.omitFromForm)"
	  			class="item item-input noBorder disable-user-behaviour">

<!-- this ng-include used to be in the ng-repeat above - caused major performance probs on android device - code now inlined below -->
<!-- ng-include="'templates/jobDetailContentRow-ngif.html'" -->


    	<span class="jobDetail-label" ng-if="property.value"
	    		ng-class="{ 'alignAlmostRight': (property.index == 1) }" >
	    	<span class="jobDetails-label" >
					<!-- {{ property.label | debug }} -->
					{{ property.label }} 
	    	</span>
	    </span>

		<!-- this is the field value -->
	    <input ng-readonly="true" ng-if="(property.type != '') && (property.type != 'toggle') && (property.type != 'enum')  && (!property.omitFromForm) && property.value " 
	    	ng-class="{'jobnumberspan': ((property.property == 'mobjobNumber')), 'requiredInput': ((property.required == true) && (property.value == '')),'addressfields': ((property.property == 'mobjobAddress1' || property.property == 'mobjobAddress2' || property.property == 'mobjobAddress3' || property.property == 'mobjobAddress4' || property.property == 'mobjobAddress5' || property.property == 'mobjobClientName')) , 'suburbfield': ((property.property == 'mobjobSuburb')) , 'servicefield': ((property.property == 'mobjobServiceCode')), 'centered': ((property.centered)), 'strong': ((property.strong)),'jobTotalLegsInput' : ((property.property == 'mobjobTotalLegs' && jseaPerJob)) }" 
	    	type="{{property.type}}" value="{{property.value}}"
	    	class="standardInput">

	    	<!--class="standardInput"-->
	    </input>


<!--
	    <ion-toggle ng-show="property.type == 'toggle'" 
	    			ng-model="property.value" 
	    			ng-click="dataChanged($event, property)" 
	    			class="noBorder toggleAdjust">
		</ion-toggle>
-->

		<!--  Show the Job Status Enum Value   -->

	    <input ng-disabled="true" ng-if="(property.type != '') && (property.type != 'toggle') && (property.type == 'enum')  && (!property.omitFromForm) " 
	    	ng-class="{ 'requiredInput': ((property.required == false)) }" 
	    	type="{{property.type}}" value="{{property.enumValue.label}}"
	    	class="jobStatusInput">
	    </input>


		<!--   ACCEPT  JOB -->
		<div ng-if="(property.enumValue.value == 'NJ' && (property.legid % 100 == 0) )" class="input-label" style="width:100%;"
					>
			<button class="button button-positive floatLeft" ng-click="handleJobStatusChange(property.legid)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Accept
			</button>
		</div>

		<!--   IMAGE CAPTURE -->
		<div ng-if="( pdaImages && property.property == 'mobjobNumber' )" class="input-label" >
			<!-- the metadata here will be passed into the directive as an object and then stored as part of the image properties -->
			<camera-button metadata="{basejob: property.basejob, legid: property.legid, legStatus: property.legStatus}"/>
		</div>

		<!-- job notes -->
		<div ng-if="( pdaNotes && property.property == 'mobjobNumber' )" class="input-label" >
			<button class="button button-positive floatLeft" ng-click="enterNotes(property.legid)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Notes
			</button>
		</div>

		<!--   JSEA PER JOB  -->
		<div ng-if="(jseaPerJob && property.property == 'mobjobTotalLegs' && (property.legid % 100 == 0) && (property.legStatus != 'NJ' && property.legStatus != 'AC'))" class="input-label" style="width:100%;"
					>
			<button class="button button-assertive floatLeft" ng-click="doJseaSubType('MULTIDEL')" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				MULTIDEL
			</button>

			<!--
			<button class="button button-positive floatLeft" ng-click="doJseaSubType('OVERDIM')" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				ODIM
			</button>
			-->

		</div>

		<!--   PICKUP  JOB -->
			<!-- possible signature at time of pickup -->
		<div ng-if="(pdaSignatOnPU && property.enumValue.value == 'AC' && (property.legid % 100 == 0) )" class="input-label" style="width:100%;" >
			<button tnf-signature-pad ng-model="signatureOne" class="floatLeft" pod-name="podname" my-key="property.legid" my-save-callback="handleJobStatusChange(property.legid,signatureOne,podname)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Pickup
			</button>
		</div> 
		<div ng-if="(!pdaSignatOnPU && property.enumValue.value == 'AC' && (property.legid % 100 == 0) )" class="input-label" style="width:100%;" >
			<button  class="button button-positive floatLeft" ng-click="handleJobStatusChange(property.legid)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Pickup
			</button>
		</div> 

		<!-- ============================================================================================== -->
		<!--  New intermediary job statuses only shown if site_config FULL_JOB_STATUSES is set -->
		<!--   Arrive Pup -->
<!-- not used atm
		<div ng-if="(fullStatuses && property.enumValue.value == 'AC' && (property.legid % 100 == 0) )" class="input-label" style="width:100%;"
					>
			<button class="button button-positive floatLeft" ng-click="handleJobStatusChange(property.legid)"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Arrive Pickup
			</button>
		</div>
-->

		<!--   Depart Pup -->
			<!-- possible signature at time of depart pickup -->
		<div ng-if="(pdaSignatOnDepPU && fullStatuses && property.enumValue.value == 'PU' && (property.legid % 100 == 0) )" class="input-label" style="width:100%;"
					>
			<button tnf-signature-pad ng-model="signatureOne" class="floatLeft" pod-name="podname" my-key="property.legid" my-save-callback="handleJobStatusChange(property.legid,signatureOne,podname)" ng-disabled="syncInProgress" 
				check-ok-for-signat="checkOkForSignat"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Depart P/up
			</button>
		</div>
		<div ng-if="(!pdaSignatOnDepPU && fullStatuses && property.enumValue.value == 'PU' && (property.legid % 100 == 0) )" class="input-label" style="width:100%;"
					>
			<button class="button button-positive floatLeft" ng-click="handleJobStatusChange(property.legid)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Depart P/up
			</button>
		</div>

		<!--   Arrive Del -->
		<div ng-if="(fullStatuses && property.enumValue.value == 'Dp' && (property.legid % 100 == 0) )" class="input-label" style="width:100%;"
					>
			<button class="button button-positive floatLeft" ng-click="handleJobStatusChange(property.legid)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Arrive Delv
			</button>
		</div>

        <!--   Navigation -->
        <div ng-if="(property.property == 'mobjobNumber')" class="input-label" style="width:100%;" >
            <button class="button button-positive floatLeft" ng-click="handleNavigation((property.legid % 100))" ng-disabled="syncInProgress"
                ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
            >
                NAV
            </button>
        </div>

		<!-- debug mode set - test button -->
		<div ng-if="(property.property == 'mobjobNumber') && pdaParams.debugMode && pdaMandatoryNotes" class="input-label" style="width:100%;">
			<button class="button button-balanced floatLeft" ng-click="enterMandatoryNotes(property.basejob,property.legid)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				TEST
			</button>
		</div>

		<!--   Depart Delivery -->
<!-- not used atm
		<div ng-if="(fullStatuses && property.enumValue.value == 'Ad' && (property.legid % 100 == 0) )" class="input-label" style="width:100%;"
					>
			<button class="button button-positive floatLeft" ng-click="handleJobStatusChange(property.legid)"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Depart Delivery
			</button>
		</div>
-->

		<!--   COMPLETE JOB -->

		<!-- fullStatuses turned on in site config -->
		<!-- no multileg parameter or single leg job has one "tap to sign" on first leg -->
		<div ng-if="(showDelButtonNoSignat && fullStatuses && property.enumValue.value == 'Ad' && (property.legid % 100 == 0) && (!pdaParams.multileg || property.numlegs < 2))" class="input-label" style="width:100%;">
			<button class="button button-positive floatLeft" ng-click="handleJobStatusChange(property.legid)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Deliver
            </button>
		</div> 
		<div ng-if="(! showDelButtonNoSignat && fullStatuses && property.enumValue.value == 'Ad' && (property.legid % 100 == 0) && (!pdaParams.multileg || property.numlegs < 2))" class="input-label" style="width:100%;">
				<button tnf-signature-pad ng-model="signatureOne" class="floatLeft" pod-name="podname" my-key="property.legid" my-save-callback="handleJobStatusChange(property.legid,signatureOne,podname)" ng-disabled="syncInProgress"
				check-ok-for-signat="checkOkForSignat"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Deliver
            </button>
		</div> 
		<!-- multileg parameter has individual per leg "tap to sign" -->
		<div ng-if="(fullStatuses && property.enumValue.value == 'Ad' && (property.legid % 100 > 0) && (pdaParams.multileg && property.numlegs > 1) )" class="input-label" style="width:100%;">
				<button tnf-signature-pad ng-model="signatureOne" class="floatLeft" pod-name="podname" my-key="property.legid" my-save-callback="handleJobStatusChange(property.legid,signatureOne,podname)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Deliver
            </button>
		</div> 
		<!-- ============================================================================================== -->
		<!-- fullStatuses NOT turned on in site config -->
		<!-- no multileg parameter or single leg job has one "tap to sign" on first leg -->
		<div ng-if="(!fullStatuses && property.enumValue.value == 'PU' && (property.legid % 100 == 0) && (!pdaParams.multileg || property.numlegs < 2))" class="input-label" style="width:100%;">
				<button tnf-signature-pad ng-model="signatureOne" class="floatLeft" pod-name="podname" my-key="property.legid" my-save-callback="handleJobStatusChange(property.legid,signatureOne,podname)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Deliver
            </button>
		</div> 

		<!-- multileg parameter has individual per leg "tap to sign" -->
		<div ng-if="(!fullStatuses && property.enumValue.value == 'PU' && (property.legid % 100 > 0) && (pdaParams.multileg && property.numlegs > 1) )" class="input-label" style="width:100%;">
				<button tnf-signature-pad ng-model="signatureOne" class="floatLeft" pod-name="podname" my-key="property.legid" my-save-callback="handleJobStatusChange(property.legid,signatureOne,podname)" ng-disabled="syncInProgress"
				ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()"
			>
				Deliver
            </button>
		</div> 
		<!-- ============================================================================================== -->

		<!--   TODO - show an icon or indicator if this leg already has POD captured?  -->

<!--
		<select ng-model="property.enumValue" 
				ng-options="multi.label for multi in property.enum" 
				ng-change="multiSelectChange(property)" 
				ng-show="(property.type == 'enum')">
		</select>

-->


	</div>

  </ion-content>
