<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'jobs' data comes from its $scope within JobIndexCtrl (controller.js)
-->
<ion-view title="{{titleWithTotal}} Drv:{{pdaParams.driverId}}">
  <ion-content ng-class="{ 'overflow-scroll': (desktopBrowserScrolling == true) }">
	<ion-nav-buttons side="right">
		<a class="button button-icon ion-ios7-email-outline" href="#/tab/messages">
			<span class="badge badge-assertive icon-badge" ng-if="newMessageCount">{{newMessageCount}}</span>
		</a>
<!--	attempt to use directive to show mail icon and message count
		<message-count />
-->
    </ion-nav-buttons>
<!-- TODO - new jobs icon of some kind
	<ion-nav-buttons side="left">
		<a class="button button-icon ion-ios7-briefcase-outline" href="#/tab/jobs">
			<span class="badge badge-assertive icon-badge" ng-if="newMessageCount">{{newMessageCount}}</span>
		</a>
    </ion-nav-buttons>
-->
<!-- for jobs - see ionicons.com - maybe ion-ios-paper-outline, ion-ios-list-outline -->
<!--
    <div class="item item-input noBorder">
      <span class="topLeftMenuIcon" ng-click="showActionSheet()">
        <i class="icon ion-navicon-round"></i>
      </span>
    </div>
-->
	
    <ion-list>

<!--
	  <ion-item ng-if="{{jobStatus['NJ']}}">
-->
	<ion-item class="button-bar" ng-if="pdaParams.multiSelect && ( jobStatuses['NJ'] || jobStatuses['AC'] || jobStatuses['PU'] || jobStatuses['Ad'])">
		<button class="button button-assertive" ng-click="multiAccept()" ng-if="jobStatuses['NJ']" ng-disabled="syncInProgress" ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()">
			Accept {{ jobStatuses['NJ'] }}
		</button>
		<button class="button button-energized" ng-click="multiPickup()" ng-if="pda_pickup_all && jobStatuses['AC']" ng-disabled="syncInProgress" ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()">
			Pickup {{ jobStatuses['AC'] }}
		</button>
		<button class="button button-balanced" ng-click="multiDepartPickup()" ng-if="pda_depart_all && jobStatuses['PU']" ng-disabled="syncInProgress"  ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()">
			Depart {{ jobStatuses['PU'] }}
		</button>

		<button class="button button-energized" ng-click="multiDeliver()" ng-if="pda_deliver_all && ((jobStatuses['PU'] && !fullStatuses) || (jobStatuses['Ad'] && fullStatuses))" ng-disabled="syncInProgress" ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()">
			Deliver selected
		</button>


		<!-- this need to set up "accessor" object used by controller to talk directly to signaturepad directive -->
		<tnf-signature-pad data-accessor="accessor" pod-name="podname" my-save-callback="signatureCallback(signatureOne,podname)" ng-model="signatureOne" class="floatLeft" ng-hide=true></tnf-signature-pad>

	</ion-item>


      <ion-item ng-repeat="job in jobs track by $index" type="item-text-wrap" ng-click="showDetail(job.mobjobSeq)" ng-disabled="syncInProgress" ontouchstart="window.plugins.deviceFeedback.haptic()" ontouchend="window.plugins.deviceFeedback.acoustic()">



		<div class="list" ng-disabled="syncInProgress" > 

			<!-- http://codepen.io/brandyshea/pen/vOXQoy -->
			<!-- checkbox for multi job delivery and signature capture LEFT EDGE OF SCREEN -->
			<!-- display if job at PU and not using full statuses, or job at Ad when using full statuses -->
			<label class="checkbox multiselect" ng-if="pda_deliver_all && ((job.mobjobStatus == 'Ad' && fullStatuses) || (job.mobjobStatus == 'PU' && !fullStatuses))  && !job.mobjobHasPod">
				  <input type="checkbox" class="left" name="job.mobjobBasejobNum" ng-model="job.checked" ng-click="$event.stopPropagation();">
            </label>
<!--
-->

			<span ng-switch on="job.mobjobStatus">
   				<img class="left" ng-switch-when="DL" src='img/Del.jpg' >
   				<img class="left" ng-switch-when="PU" src='img/PickedUp.jpg' >
   				<img class="left" ng-switch-when="AC" src='img/Accept.jpg'>
   				<img class="left" ng-switch-when="Ap" src='img/ArrivePup.jpg'>
   				<img class="left" ng-switch-when="Dp" src='img/DepartPup.jpg'>
   				<img class="left" ng-switch-when="Ad" src='img/ArriveDel.jpg'>
   				<img class="left" ng-switch-when="Dd" src='img/DepartDel.jpg'>
   				<img class="left" ng-switch-default   src='img/NwJob.jpg' >
			</span>
		<!--<span class="jobstatusspan"> {{ job.mobjobStatus | displayStatusDetail }} </span> <span class="jobdatespan"> {{ job.mobjobBookingDay | date:'dd-MM-yyyy' }} </span>  -->

			<div class="jobdetails" >


				<span class="jobFromSubspan"> {{ job.mobjobSuburb }} </span>
				-  
				<span class="jobToSubspan"> {{ job.mobjobToSuburb }} </span> 
				<span class="jobServicespan"> ({{ job.mobjobServiceCode }}) </span>

				<div class="rightJobData">
					<span class="jobdatespan"> {{ job.displayDate | date:'dd-MM-yyyy' }} </span>  
<!--
					<br>
					<span class="jobdatespan"> {{ job.mobjobEtaTime | date:'dd-MM-yyyy' }} </span>  
-->
				
					<!-- checkbox for multi job delivery and signature capture RIGHT EDGE OF SCREEN -->
<!--
					<label class="checkbox multiselect" ng-if="pda_deliver_all && job.mobjobStatus == 'PU'">
					  <input type="checkbox" class="left" name="job.mobjobBasejobNum" ng-model="job.checked" ng-click="$event.stopPropagation();">
					</label>
-->

				</div>

				<h3>{{generateJobHeader(job)}}</h3>

			</div>
	

		</div>
		
      </ion-item>

    </ion-list>

	<ion-item class="button-bar" >
			<button class="button button-assertive" ng-disabled="isDrvLoggedOff() || syncInProgress" ng-click="logoffDriver()">
				L/OFF
			</button>

			<button class="button button-balanced" ng-disabled="isDrvLoggedOn() || syncInProgress" ng-click="logonDriver();">
				L/ON
			</button> 

	</ion-item>


<section id="totals" ng-if="pdaParams.debugMode">
		<strong> {{ jobs.length }} jobs loaded </strong>
</section>

<section id="local-conflicts" class="conflicts" ng-if="localConflicts.length && pdaParams.debugMode">
  <ion-scroll direction="xy" >
  <h1>Local Conflicts</h1>
  <div ng-repeat="conflict in localConflicts">
    <table>
      <tr>
        <th>Local Data</th>
        <th>Remote Data</th>
      </tr>
      <tr>
        <td>
          <div ng-if="conflict.sourceChange.type() === 'delete'">
            <strong>Deleted</strong>
          </div>
          <table ng-if="conflict.sourceChange.type() !== 'delete'">
            <tr>
              <th>id</th>
              <th>change</th>
              <!--<th>data</th>-->
              <th>status</th>
              <th>driver</th>
              <th>job</th>
              <th>last</th>
            </tr>
            <tr>
              <td>{{conflict.sourceChange.modelId}}</td>
              <td>{{conflict.sourceChange.type()}}</td>
<!--
              <td>
                {{conflict.source}}
              </td>
-->
              <td>
                {{conflict.source.mobjobStatus}}
              </td>
              <td>
                {{conflict.source.mobjobDriver}}
              </td>
              <td>
                {{conflict.source.mobjobSeq}}
              </td>
              <td>
                {{conflict.source.lastModified}}
              </td>
            </tr>
            <tr class="hide">
              <td>
                {{conflict}}
              </td>
              <td>
                {{conflict.sourceChange}}
              </td>
              <td>
                {{conflict.source}}
              </td>
            </tr>
          </table>
          <button ng-click="resolveUsingSource(conflict)">Use Local Version</button>
        </td>
        <td>
          <div ng-if="conflict.targetChange.type() === 'delete'">
            <strong>Deleted</strong>
          </div>
          <table ng-if="conflict.targetChange.type() !== 'delete'">
            <tr>
              <th>id</th>
              <th>change</th>
              <!--<th>data</th>-->
              <th>status</th>
              <th>driver</th>
              <th>job</th>
              <th>last</th>
            </tr>
            <tr>
              <td>{{conflict.targetChange.modelId}}</td>
              <td>{{conflict.targetChange.type()}}</td>
<!--
              <td>
                {{conflict.target}}
              </td>
-->
              <td>
                {{conflict.target.mobjobStatus}}
              </td>
              <td>
                {{conflict.target.mobjobDriver}}
              </td>
              <td>
                {{conflict.target.mobjobSeq}}
              </td>
              <td>
                {{conflict.target.lastModified}}
              </td>
            <tr class="hide">
              <td>
                {{conflict}}
              </td>
              <td>
                {{conflict.targetChange}}
              </td>
              <td>
                {{conflict.target}}
              </td>
            </tr>
            </tr>
          </table>
          <button ng-click="resolveUsingTarget(conflict)">Use Server Version</button>
        </td>
      </tr>
    </table>
<!--
    <div class="manual-merge">
      <h4>Merge Manually</h4>
      <input class="toggle" type="checkbox" ng-model="conflict.manual.completed">
      <input class="edit" ng-trim="false" ng-model="conflict.manual.title">
      <button ng-click="resolveManually(conflict)">Use This Version</button>
    </div>
  </div>
-->
</ion-scroll>
</section>

	<section id="debug" class="debug" ng-if="pdaParams.debugMode">
<!--
		<button ng-click="sync()" ng-class="{deltas: needSync}">Sync</button>
		<button ng-click="connect()">Connect</button>
		<button ng-click="disconnect()">Disconnect</button>
		<button ng-click="reload()">Reload jobs</button>
		<button ng-click="full_sync_and_load()">Remove/Resync</button>
		<button ng-click="clearReplicationData()">Clear local repl</button>
		<button ng-click="exitTplusMobile()" >Exit TplusMobile</button>
-->
		<!-- <a href="/debug" target="_blank">Debug</a> -->
		<strong> connected: {{ connected() }} </strong>
		<strong> syncing: {{ syncInProgress }} </strong>
		<strong> pda_pickup_all: {{ pda_pickup_all }} </strong>
		<strong> pda_deliver_all: {{ pda_deliver_all }} </strong>
		<strong> fullStatuses: {{ fullStatuses }} </strong>
		<strong> jobStatuses['PU']: {{ jobStatuses['PU'] }} </strong>
		<strong> jobStatuses['Ad']: {{ jobStatuses['Ad'] }} </strong>
	</section>


  </ion-content>
</ion-view>
