<ion-view title="Driver: ({{pdaParams.driverId}}) V: {{pdaParams.getAppVersion()}}">
<!--
	<ion-nav-buttons side="right">
		<button ng-click="toggleSearchBox()" class="button button-icon ion-ios7-email-outline">
			<span class="badge badge-assertive icon-badge">5</span>
		</button>
    </ion-nav-buttons>
-->
	<ion-content ng-class="{ 'overflow-scroll': (desktopBrowserScrolling == true) }">


	<!-- Angularjs has a directive to handle textarea which brings in a new scope which overrides the HTML
		scope so angular has to go to the parent to get the entered data so use $parent-->

	<div ng-show="boxshow">
	 	<textarea id="styled" onfocus="this.value='';" rows="4" cols="50" ng-model="$parent.textareadata" required>
			{{textareadata}}
		</textarea>
    </div>

    <div class="button-bar">
        <button class="button button-large button-energized" ng-click="newMessage(true)">
            New Message
        </button>

<!--
        <button class="button button-large button-assertive" ng-click="deleteAllMessages()">
            Delete All
        </button>
-->

        <button class="button button-large button-positive" ng-show="boxshow" ng-click="onSubmit()">
            Submit
        </button>

        <button class="button button-large button-stable" ng-click="quit()">
            Quit
        </button>
    </div>

	<strong ng-if="messages.length === 0">
		No messages
	</strong>


	<ion-list class="item item-text-wrap">
		<!-- <ion-item ng-repeat="message in messages.slice().reverse() track by $index" type="item-text-wrap"> -->
		<ion-item ng-repeat="message in messages track by $index" class="osc-message">

			<!-- if message was from driver to despatch show right justified, otherwise show on left like traditional message app -->
			<!-- {{message.drvmTimestamp}} {{message.drvmTimestamp | utcAsLocal:'yyyy-MM-dd HH:mm'}} -->
			<div ng-show="{{pdaParams.driverId}}!={{message.drvmSender}}" class="text-left message-tstamp"> {{message.drvmTimestamp | utcAsLocal:'yyyy-MM-dd HH:mm'}}</div>
			<div ng-show="{{pdaParams.driverId}}!={{message.drvmSender}}" class="text-left"> {{message.drvmMessage}} </div>

			<div ng-show="{{pdaParams.driverId}}=={{message.drvmSender}}" class="text-right message-tstamp"> {{message.drvmTimestamp | utcAsLocal:'yyyy-MM-dd HH:mm'}} </div>
			<div ng-show="{{pdaParams.driverId}}=={{message.drvmSender}}" class="text-right"> {{message.drvmMessage}} </div>

		</ion-item>
	</ion-list>



	</ion-content>
</ion-view>
